@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  /* user-select: none; */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer components {
  .bold-text-lg {
    @apply font-bold text-lg;
  }

  .form-field {
    @apply px-4 py-1.5 text-base font-semibold;
  }

  .form-component {
    @apply flex flex-col gap-1 relative;
  }

  .form-error {
    @apply absolute right-0 -bottom-5 text-red-600;
  }

  .custom-button {
    @apply bg-customGray text-customLightGray px-4 py-4 text-base rounded-md hover:bg-customGray hover:bg-opacity-75 transition-colors duration-200 flex items-center justify-center focus:outline-none focus:bg-customGray;
  }

  .customer-page-title {
    @apply text-center text-2xl font-extrabold;
  }
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.input-otp {
  justify-content: space-between !important;
  gap: 0.5em !important;
}

:where(.css-dev-only-do-not-override-dg1m93).ant-descriptions
  .ant-descriptions-item-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

:where(.css-dev-only-do-not-override-1awui22).ant-descriptions
  .ant-descriptions-item-container {
  display: flex;
  flex-wrap: wrap;
}

:where(.css-dev-only-do-not-override-ajbvw).ant-descriptions
  .ant-descriptions-item-container {
  display: flex;
  flex-wrap: wrap;
}

:where(.css-dev-only-do-not-override-1jh2zmy).ant-table-wrapper
  .ant-table-sticky-scroll {
  display: none !important;
}

:where(.css-dev-only-do-not-override-1jh2zmy).ant-input-group {
  height: 100%;
}

:where(.css-dev-only-do-not-override-1jh2zmy).ant-input-group .ant-input {
  height: 100%;
}

.swiper-slide {
  padding: 1em !important;
  padding-bottom: 2em !important;
  padding-top: 0em !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.transbox {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 4.7px 0px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.15);
}

.slick-slide > div {
  margin: 0 10px !important;
}

.slick-list {
  margin: 0 -10px !important;
}

.custom-model
  :where(.css-dev-only-do-not-override-1jh2zmy).ant-modal
  .ant-modal-header {
  background: transparent !important;
}

@keyframes scallion-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.scallion-loader {
  width: 1rem;
  height: 1rem;
  border: 0.125rem solid transparent;
  border-top: 0.125rem solid #4fd1c5;
  border-right: 0.125rem solid #4fd1c5;
  border-radius: 50%;
  animation: scallion-spin 1s linear infinite;
}

.has-value {
  border-radius: 8px;
  padding: 0 1rem;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #d2d3d3;
  border-radius: 10px;
}

.camera-modal > .ant-modal {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  top: 0;
  left: 0;
  max-width: 100% !important;
  overflow: hidden;
}

.camera-modal > .ant-modal .ant-modal-content {
  box-shadow: none;
}

.sidebar-custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.sidebar-custom-scrollbar::-webkit-scrollbar-track {
  background: #031c30;
}

/* Handle */
.sidebar-custom-scrollbar::-webkit-scrollbar-thumb {
  background: #063146;
  border-radius: 10px;
}

Handle on hover .sidebar-custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
